body {
  margin: 0;
  background-color: #555;
  position: relative;
  font-family: sans-serif;
}
svg {
  display: block;
  margin: 0;
  background-color: #fff;
}
#info_box {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  /* either height or bottom: bottom: 10px; height: 100%;*/
  width: 33%;
  background-color: #fff;
  overflow-y: scroll;
  padding: 0 10px;
}
#info_box .info_element {
  margin: 10px 0 0 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #444;
}
#info_box_title {
  padding: 0;
}
.info_box_filter {
  padding-left: 10px;
}
#info_box table .label {
  max-width: 150px;
  text-align: right;
  vertical-align: top;
  color: #aaa;
}
#info_box table .link {
  color: #69D;
}
#info_box table .link:hover {
  cursor: pointer;
}
#tooltip {
  position: absolute;
  display: inline-block;
  padding: 5px;
  background-color: #aaa;
  user-select: none;
}
text.nodelabel {
  user-select: none;
}
.node:hover {
  stroke: #333;
  stroke-width: 1;
}
.clickable:hover {
  cursor:pointer;
}
.node.focus{
  stroke: #333;
  stroke-width: 5;
}
