html {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #CCC;
  position: relative;
  font-family: sans-serif;
}

.loading {
  width: 30%;
  padding: 10% 0;
  margin: 10% auto;
  text-align: center;
  font-family: monospace;
  font-size: 3em;
  background-color: #FFFFFF55;
}

.loading_small {
  display: inline-block;
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1em;
  padding: 1em;
  font-family: monospace;
  background-color: #FFFFFF55;
}

svg {
  background-color: #fff;
}

/********************* LEGEND ********************/
#legend_container {
  box-shadow: -3px -1px 2px #bbbbbb;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 67%;
}
.hidden_info_box  #legend_container {
  width: 100%;
}
.legend {
  font-size: 0.7em;
  background-color: #f5f5f5;
  padding: 0.5em;
}
.legend_entry {
  display: inline-block;
  padding: 3px 3px;
  margin: 2px 2px;
  cursor: pointer;
}
.legend_entry span{
  display: inline-block;
  padding: 0px 5px;
}

/********************* INFO BOX ********************/
#info_box {
  box-shadow: 0px -1px 5px #bbbbbb;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  position: absolute;
  right: 0%;
  top: 0px;
  height: 100%;
  /* either height or bottom: bottom: 10px; height: 100%;*/
  width: 33%;
  background-color: #f5f5f5;
}

#info_box header {
  padding: 1em 1em 0 1em;
    flex-shrink: 0;
}
.hidden_info_box #info_box{
  right: -33%;
}
#toggle_info_box {
  position: absolute;
  display: block;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  top: 0px;
  right: 100%;
  background-color: #f5f5f5;
    box-shadow: -2px 2px 3px -1px #bbbbbb;
}
#info_box .info_element {
  padding: 1em 0;
  background-color: #fefefe;
  width: 100%;
}
#info_box input {
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #444;
  width: 100%;
}
#info_box .search_message {
  font-weight: bold;
  margin: 0.5em;
  display: inline-block;
}
#info_box .search_options {
  display: inline-block;
  font-weight: bold;
  font-size: 0.8em;
}
.info_box_filter {
  padding-left: 0.5em;
  text-decoration: none;
}

#info_box table {
  table-layout: fixed;
}
#info_box table td {
  vertical-align: top;
  overflow-wrap: break-word;
}
#info_box table .label {
  width: 150px;
  text-align: right;
  color: #aaa;
}
#info_box table .label_narrow {
  width: 40px;
  text-align: right;
  vertical-align: top;
  color: #aaa;
}
#info_box table .link {
  color: #69D;
}
#info_box table .link:hover {
  cursor: pointer;
}

#info_box header h2 {
  padding: 0;
  margin: 0;
}

#info_box .info_box_body{
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    padding: 0.5em 1em 1em 1em;
  background-color: #e5e5e5;
}
#info_box footer{
  padding: 1em;
  flex-shrink: 0;
  box-shadow: 0px -1px 5px #bbbbbb;
  z-index: 2;
  position: relative;
}

/********************* TOOLTIP ********************/
#tooltip {
  position: absolute;
  display: none;
  padding: 10px 15px;
  font-size: 0.8em;
  background-color: #ddd;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

/********************* GRAPH (include only stuff that shouldn't be exported) ********************/
text.nodelabel {
  user-select: none;
}
.node:hover {
  stroke: #333;
  stroke-width: 1;
}
.clickable:hover {
  cursor:pointer;
}
.node.focus{
  stroke: #333;
  stroke-width: 2;
  opacity: 1.0!important;
}
