html {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #555;
  position: relative;
  font-family: sans-serif;
}

svg {
  background-color: #fff;
}

/********************* LEGEND ********************/
.legend {
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
  width: 67%;
  background-color: #f5f5f5;
}
.legend_entry {
  display: inline-block;
  margin: 5px 5px;
  cursor: pointer;
}
.legend_entry span{
  display: inline-block;
  padding: 0px 5px;
}

/********************* INFO BOX ********************/
#info_box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  position: absolute;
  right: 0%;
  top: 0px;
  height: 100%;
  /* either height or bottom: bottom: 10px; height: 100%;*/
  width: 33%;
  background-color: #f5f5f5;
}
#info_box.hidden{
  right: -33%;
}
#toggle_info_box {
  position: absolute;
  display: block;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  top: 0px;
  right: 100%;
  background-color: #f5f5f5;
}
#info_box .info_element {
  overflow-y: scroll;
  background-color: #fefefe;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #444;
}
.info_box_filter {
  padding-left: 10px;
}

#info_box table {
  table-layout: fixed;
}
#info_box table td {
  vertical-align: top;
  overflow-wrap: break-word;
}
#info_box table .label {
  width: 150px;
  text-align: right;
  color: #aaa;
}
#info_box table .label_narrow {
  width: 40px;
  text-align: right;
  vertical-align: top;
  color: #aaa;
}
#info_box table .link {
  color: #69D;
}
#info_box table .link:hover {
  cursor: pointer;
}

#info_box {
    position: absolute;
}

#info_box header {
  padding: 1em 1em 0 1em;
    flex-shrink: 0;
}
#info_box header h2 {
  padding: 0;
  margin: 0;
}

#info_box .info_box_body{
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    padding: 1em;
}
#info_box footer{
    padding: 1em;
    flex-shrink: 0;
}

/********************* TOOLTIP ********************/
#tooltip {
  position: absolute;
  display: none;
  padding: 10px 15px;
  font-size: 0.8em;
  background-color: #ddd;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

/********************* GRAPH (include only stuff that shouldn't be exported) ********************/
text.nodelabel {
  user-select: none;
}
.node:hover {
  stroke: #333;
  stroke-width: 1;
}
.clickable:hover {
  cursor:pointer;
}
.node.focus{
  stroke: #333;
  stroke-width: 2;
  opacity: 1.0!important;
}
