body {
  margin: 0;
  background-color: #555;
  position: relative;
  font-family: sans-serif;
}
svg {
  display: block;
  margin: 0;
  background-color: #fff;
}
#info_box {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  /* either height or bottom: bottom: 10px; height: 100%;*/
  width: 33%;
  background-color: #fff;
  overflow-y: scroll;
  padding: 0 10px;
}
#info_box .info_element {
  margin: 10px 0 0 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #444;
}
#info_box_title {
  padding: 0;
}
.info_box_filter {
  padding-left: 10px;
}

#info_box table {
  table-layout: fixed;
}
#info_box table td {
  vertical-align: top;
  overflow-wrap: break-word;
}
#info_box table .label {
  width: 150px;
  text-align: right;
  color: #aaa;
}
#info_box table .label_narrow {
  width: 40px;
  text-align: right;
  vertical-align: top;
  color: #aaa;
}
#info_box table .link {
  color: #69D;
}
#info_box table .link:hover {
  cursor: pointer;
}
#tooltip {
  position: absolute;
  display: none;
  padding: 10px 15px;
  font-size: 0.8em;
  background-color: #ddd;
  user-select: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
text.nodelabel {
  user-select: none;
}
.node:hover {
  stroke: #333;
  stroke-width: 1;
}
.clickable:hover {
  cursor:pointer;
}
.node.focus{
  stroke: #333;
  stroke-width: 2;
  opacity: 1.0!important;
}
